@import "normalize";

body{
	color: white;
	padding:1%;
	.dropdown_button{
		margin-top:10%;
		height:50px;

		&.odd{
			margin-top:80%;
		}
	}

	background:url('/images/background.jpg') no-repeat center center fixed;
	// background:#E680B2;
	background-size:cover;

	.brand{
		height:300%;
	}

	@font-face {
		font-family: 'triforce';
		src: url('fonts/Triforce.ttf');
		src: local('triforce'), local('triforce'), url('fonts/triforce.ttf') format('truetype');
	}

	font-family: 'triforce';

	.info{
		display:none;
		color: white;
		background-color:#00A382;
		width:100%;
		padding:1%;
		border-radius:5px;
		height:60vh;
		overflow:auto;


		div{
			opacity:1;
			color: #374012;
		}

		ul {
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		.red-heart {
				background: url('/images/heart-red.svg') no-repeat left top;
				padding-left: 18px;
			}

		.white-heart {
			background: url('/images/heart-white.svg') no-repeat left top;
			padding-left: 18px;
		}

	}

	.nav_button{
		height:80px;
		margin-left:-90%;
		padding:5%;

		&.odd{
			margin-top:50%;
		}
	}

	.menu_buttons{
		position:relative;

	}

	.contact_text{
		position:absolute;
		top:15%;
		color:white;
		left:-75%;
	}

	.about_text{
		position:absolute;
		top:45%;
		color:white;
		left:-75%;
	}

	#map-canvas{
		height:60vh;
		width:100%;
		opacity:0.8;

	}

	.buttons{
		margin-right:8%;
		border-radius:5px;
	}

	#itinerary{
		position:relative;
	}

	.bar{
		width:90%;
		border:2px solid black;
		border-radius:15px;
		height:5%;
		position:absolute;
		bottom:2%;
		left:4%;
	}

	.bar_piece{
		width:25%;
		height:100%;
		border:1px solid black;
		display:inline-block;
		padding:0;
		margin:0;
	}

	#bar1{
		background-color:black;
		border-bottom-left-radius:15px;
		border-top-left-radius:15px;
	}

	#bar4{
		border-bottom-right-radius:15px;
		border-top-right-radius:15px;
	}
}
