@import "normalize";

body{
	width:100%;
	padding:1%;
	.dropdown_button{
		margin-top:10%;
		height:50px;

		&.odd{
			margin-top:80%;		
		}
	}

	background:url('/images/background.jpg') no-repeat center center fixed;
	background-size:cover;

	.brand{
		height:300%;
	}

	@font-face {
		font-family: 'triforce';
		src: url('/fonts/Triforce.ttf');
		src: local('triforce'), local('triforce'), url('/fonts/Triforce.ttf') format('truetype');
	}

	font-family: 'triforce';

	.info{
		background-color:#66bb6a;
		width:100%;
		padding:1%;
		border-radius:5px;
		
		@media(min-device-width:1025px){
			height:65vh;
		}

		@media(max-device-width: 500px){
			height:40vh;
		}

		div{
			opacity:1;
			color: #374012;
		}

		li{
			list-style:none;
		}
	}

	.list{
		display:none;
	}

	.nav_button{
		height:80px;
		margin-left:-90%;
		padding:5%;

		&.odd{
			margin-top:50%;
		}
	}

	.menu_buttons{
		position:relative;

	}

	.contact_text{
		position:absolute;
		top:15%;
		color:white;
		left:-75%;
	}

	.about_text{
		position:absolute;
		top:45%;
		color:white;
		left:-75%;
	}

	#map-canvas{
		height:65vh;
		width:100%;
		opacity:0.8;
		border-radius:5px;

	}

	.buttons{
		margin-right:8%;
		border-radius:5px;
	}

	#itinerary{
		position:relative;
	}

	.bar{
		width:90%;
		border:2px solid black;
		border-radius:15px;
		height:5%;
		position:absolute;
		bottom:2%;
		left:4%;
	}

	.bar_piece{
		width:25%;
		height:100%;
		border:1px solid black;
		display:inline-block;
		padding:0;
		margin:0;
	}

	#bar1{
		background-color:black;
		border-bottom-left-radius:15px;
		border-top-left-radius:15px;
	}

	#bar4{
		border-bottom-right-radius:15px;
		border-top-right-radius:15px;	
	}

	a.navbar-brand{
		*{
			display:inline-block;
		}
	}


	.info-block{
		vertical-align:top;

		@media(min-device-width:1025px){
			width:20%;
			position:absolute;
			top:0;
		}

		@media(max-device-width: 1024px){
			width:48%;
			padding:1%;
		}
	}

	.inner-info{
		@media(min-device-width:1025px){
			height:90%;
			overflow:auto;

		}

		@media(max-device-width: 500px){
			height:90%;
		}
	}

	#map-block{
		text-align:center;
		vertical-align:top;
		
		@media(min-device-width:1025px){
			width:55%;
		}

		@media(max-device-width: 1024px){
			width:100%;
		}


	}

	.left{
		left: 1%;
	}

	.right{
		right:1%;
	}

	.red-heart {
        background: url('/images/heart-red.svg') no-repeat left top;
    }

    .white-heart {
        background: url('/images/heart-white.svg') no-repeat left top;
    }

    .white-heart, .red-heart{
        background-size: 20px 20px;
        padding-left: 18px;
        margin-top:2%;
    }
	
	@media(min-device-width:1025px){
		.mobile_menu{
			display:none;
		}
	}

	@media(max-device-width: 700px){
		.buttons{
			display:none;
		}

		.desktop{
			display:none;
		}

		.navbar-header, .navbar-header{
			display:block;
			clear:both;
			width:100%;
			height:auto;
		}

		.navbar{
			clear:both;
			height:100px;
		}

		.mobile_menu{
			text-align:center;
		}
	}

	.activity_button, .hotel_button, .restaurant_button{
		display:inline-block;
	}

	.active{
		font-weight:bold;
		color:white;
	}

	.add_button{
		width:90%;
	}
} 

